@{
Layout = "_Layout";

 @model List<ekitchen.Models.EventosModel.EventoPuntuacionModel>
}

<div class="container">
    <h1 class="text text-center text-capitalize">Bienvenidos a EKitchen</h1>
    <br />
    <h3 class="text text-left">Nuestras Especialidades</h3>
    <br /><br />
    <div class="alert-success">@TempData["Resultado"]</div>
    <div class="alert-success">@TempData["Reserva"]</div>
    <div class="row">
        <div class="container" id="food">
            <div class="card-deck">
                @foreach (var evento in Model)
                {
                    <div class="col-md-4">
                        <a href="#"><img src="~/images/carrousel/@evento.Foto" alt="libro" style="width:100%" class="img-thumbnail"></a>
                        <div class="card-body">

                            <h3 class="card-text">@evento.Nombre</h3>
                            <a href="/Default/DetalleEvento?IdEvento=@evento.IdEvento" style="text-decoration:none"><h6>$@evento.Precio</h6></a>
                            <p class="card-text"><i class="fa fa-star" aria-hidden="true"></i>@evento.Puntiacion<p>

                        </div>

                    </div>
                }
            </div>
        </div>
    </div>
</div>