@{
        Layout = "_Layout";
}

<br />
<div class="container container-fluid">
    <p class="alert alert-danger">No tenes permisos para ingresar a la pagina solicitada</p>
    <br />
    <a class="btn btn-link" href="/Cocinero/Perfil">Volver</a>
</div>