@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@model ekitchen.Models.ComensalesModel.ReservaModel
@{
    if (@HttpContextAccessor.HttpContext.Session.GetInt32("Perfil") == 2)
    {
        Layout = "_LayoutComensal";

    }
}
<h1 id="login-title" class="text-center">Reserva Evento</h1>
<br />
<body class="container">
    <div class="container-fluid">
        <form asp-action="GuardarReserva" method="post" class="form-group">
            <div class="mb-3">
                <label for="CantidadComensales" class="form-label">Cantidad De Comensales</label>
                <input type="number" class="form-control" name="CantidadComensales" id="CantidadComensales">
            </div>
            <input type="hidden" value="@Model.IdEvento" name="IdEvento" id="IdEvento" />
            @foreach (var item in ViewBag.ListaRecetas)
             {
                <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" value="@item.IdReceta" id="RecetaSeleccionada" name="RecetaSeleccionada" />
                <label class="form-check-label" for="inlineRadio@item.IdReceta">
                    Descripcion: @item.Descripcion</label>
                </div>
             }
            <br />
            <button type="submit" class=" form-control btn btn-info">Realizar reserva</button>
        </form>
    </div>
</body>

